<div class="nav-mobile">
  <div id="nav-mobile-menu-button" class="nav-mobile__button">
    <div id="nav-mobile-menu-burger" class="nav-mobile__burger"></div>
  </div>
  <nav id="nav-mobile-menu" class="nav-mobile__menu">
    <a class="nav-mobile__link" href="/wedding-website/#when">Wedding Day</a>
    <a class="nav-mobile__link" href="/wedding-website/#order-of-events">Order of Events</a>
    <a class="nav-mobile__link" href="/wedding-website/travel">Travel</a>
    <a class="nav-mobile__link" href="/wedding-website/accommodation">Accommodation</a>
    <a class="nav-mobile__link" href="/wedding-website/#dress">Dress</a>
    <a class="nav-mobile__link" href="/wedding-website/#facilities-accessibility">Facilities</a>
    <a class="nav-mobile__link" href="/wedding-website/#gifts">Gifts</a>
    <a class="nav-mobile__link" href="/wedding-website/#more">More Info</a>
  </nav>
</div>
<nav class="nav-desktop">
  <a class="nav-desktop__link" href="/wedding-website/#when">Wedding Day</a>
  <a class="nav-desktop__link" href="/wedding-website/#order-of-events">Order of Events</a>
  <a class="nav-desktop__link" href="/wedding-website/travel">Travel</a>
  <a class="nav-desktop__link" href="/wedding-website/accommodation">Accommodation</a>
  <a class="nav-desktop__link" href="/wedding-website/#dress">Dress</a>
  <a class="nav-desktop__link" href="/wedding-website/#facilities-accessibility">Facilities</a>
  <a class="nav-desktop__link" href="/wedding-website/#gifts">Gifts</a>
  <a class="nav-desktop__link" href="/wedding-website/#more">More Info</a>
</nav>